.author {
  @apply flex flex-col items-center justify-center;

  @screen sm {
    @apply flex-row items-start justify-between;
  }

  &__title {
    @apply mb-1 mt-0;
  }

  &__description {
    @apply text-16px leading-22px my-0;
    color: rgba(white, 0.7);

    @screen sm {
      @apply text-24px leading-8;
    }
  }

  &__info {
    @apply ml-3 mt-10;
    max-width: 570px;

    @screen sm {
      @apply mt-0;
    }

    &-item {
      &:not(:last-child) {
        @apply mb-10;
      }
    }

    &-title {
      margin-bottom: 10px;
    }

    &-list {
      &__item {
        @apply relative text-16px leading-22px pl-6;

        @screen sm {
          @apply text-24px leading-8;
        }

        &:before {
          --size: 3px;
          @apply absolute bg-white rounded-full;
          content: '';
          left: 5px;
          top: 50%;
          width: var(--size);
          height: var(--size);
          transform: translateY(-50%);
        }

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
}
