.bonuses-list {
  @apply flex flex-col items-center justify-center;

  @screen sm {
    @apply flex-row items-start;
    margin: -30px;
  }

  &__card {
    width: 270px;
    margin-bottom: 24px;

    @screen sm {
      margin: 15px;
    }

    &-title {
      @apply text-20px leading-7 text-center;
    }

    &-image {
      @apply w-full mb-4 mx-auto bg-outer-space;
      max-width: 170px;
      height: 170px;
      border-radius: 48px;
    }

    &-pic {
      width: 100%;
      height: 100%;
      max-width: 100%;
    }
  }
}
