.bonus {
  @apply relative max-w-570px mx-auto;

  &__image {
    @apply w-full rounded-48px;
    object-fit: cover;
  }

  &__label {
    @apply absolute bottom-16px -right-60px font-semibold text-24px text-shark p-4 bg-dandelion;
    border-radius: 0px 16px;
    transform: rotate(-15deg);
  }
}
