.button {
  @apply font-semibold text-16px text-center leading-5 text-shark py-4 bg-dandelion border-0;
  width: 180px;
  border-radius: 6px;

  &__sub {
    @apply text-16px leading-5 mt-1;
    color: rgba(#1C2529, .5);
  }

  &--big {
    @apply text-20px leading-6;
    width: 240px;
  }

  &--gutter {
    @apply block mx-auto mt-15;
  }
}