.dropdown {
  @apply max-w-970px pb-4 mx-auto;
  border-bottom: 1px solid #374246;

  &:not(:last-child) {
    @apply mb-4;
  }

  &--medium {
    @apply max-w-770px;
  }

  &--open & {
    &__toggle {
      background-color: transparent;

      &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
    
    &__body {
      @apply h-auto;
    }
  }

  &__head {
    @apply flex items-center justify-between;
  }

  &__toggle {
    --size: 36px;
    @apply relative rounded-full border-0 transition-colors transition-ease-in-out;
    width: var(--size);
    height: var(--size);
    background-color: rgba(white, .2);

    &::before,
    &::after {
      @apply absolute h-16px w-2px rounded-xl bg-white transition-transform transition-ease-in-out;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &__body {
    @apply pt-4 pr-25 h-1px overflow-hidden;

    &-title {
      @apply font-semibold text-20px mb-4;
    }
  }

  &__text {
    @apply text-16px leading-22px opacity-70;
  }

  &__content {
    @apply font-normal;

    &:not(:last-child) {
      @apply mb-4;
    }
  }

  &__row {
    @apply justify-between;

    &:not(:last-child) {
      @apply mb-4;
    }
  }

  &__col {
    @apply max-w-370px;
  }
}
