.emoji-list {
  @apply flex items-start justify-between;

  &__item {
    @apply w-270px text-center;
  }
  
  &__figure {
    --size: 170px;
    @apply inline-block mb-18px bg-outer-space rounded-48px;
    width: var(--size);
    height: var(--size);
  }

  &__text {
    @apply text-20px leading-26px text-white;
  }
}