.footer {
  @apply py-10;

  &__box {
    @apply flex flex-col justify-center;
  }

  &__logo {
    @apply mb-15 mx-auto;
  }

  &__text {
    @apply text-12px leading-4 text-center mb-2 opacity-70;

    &-br {
      @apply block;
    }
  }

  &__socials {
    @apply mx-auto mb-15;
    max-width: 168px;
  }
}