.form {
  &__field {
    @apply w-full;

    &:not(:last-child) {
      @apply mb-6;
    }

    &--action {
      @apply flex flex-col items-center justify-between;

      @screen sm {
        @apply flex-row mt-6;
      }
    }
  }

  &__label {
    @apply text-16px text-shark leading-5 block opacity-70;
  }

  &__input {
    @apply text-24px leading-8 text-shark w-full pb-2 border-0 border-b;
    max-width: 400px;
    border-color: rgba(#1C2529, .1);

    &:focus {
      outline: 0;
      border-color: rgba(#1C2529, .4);
    }
  }

  &__agree {
    @apply text-12px leading-4 text-shark text-center mt-4 opacity-70;
    max-width: 270px;

    @screen sm {
      @apply text-left mt-0 ml-3;
    }
  }
}