.header {
  @apply py-4.5;

  &__row {
    @apply flex items-center justify-between;
  }

  &__col {
    &--burger {
      @screen sm {
        @apply hidden;
      }
    }

    &--start {
      @apply hidden;
      @screen sm {
        @apply block;
      }
    }
  }

  &__burger {
    @apply border-l-black bg-transparent border-none cursor-pointer;

    &-line {
      @apply w-24px h-4px bg-white rounded-3px;

      &:not(:last-child) {
        @apply mb-5px;
      }
    }
  }
}
