.menu-mob {
  @apply absolute z-10 hidden w-full h-full top-0 left-0;
  background-color: rgba(#1c2529, 0.8);

  &__box {
    @apply h-full py-7 px-4 bg-outer-space;
    width: 80%;
  }

  &__close {
    @apply bg-transparent border-0;

    &-icon {
      @apply mb-30px;
      width: 24px;
      height: 24px;
    }
  }

  &__nav {
    @apply flex flex-col;
  }

  &__item {
    &:not(:last-child) {
      @apply font-semibold text-16px leading-22px mb-4;
    }
  }

  &--show {
    @apply block;
  }
}
