.menu {
  display: none;

  @screen sm {
    @apply flex items-center;
  }

  &__item {
    &:not(:last-child) {
      @apply mr-12.5;
    }

    &-text {
      @apply font-normal text-16px;
    }
  }
}
