.motivation-list {
  @apply flex flex-wrap items-center justify-center;

  @screen sm {
    @apply -m-15px;
  }

  &__item {
    @apply flex items-center;
    width: 100%;

    &:not(:last-child) {
      @apply mb-4;

      @screen sm {
        @apply mb-0;
      }
    }

    @screen sm {
      @apply m-15px;
      width: calc(100% / 3 - 30px);
    }
  }

  &__title {
    @apply text-20px leading-6 ml-5;
  }

  &__image {
    @apply flex items-center justify-center w-full bg-outer-space;
    max-width: 70px;
    height: 70px;
    border-radius: 24px;

    @screen sm {
      max-width: 100px;
      height: 100px;
    }

    &-pic {
      width: 100%;
      height: 100%;
      max-width: 100%;
    }
  }
}