.page {
  @apply relative w-full overflow-x-hidden;

  &__section {
    @apply w-full;
  }

  &__container {
    @apply w-full mx-auto;
    max-width: 1440px;
    padding-right: 16px;
    padding-left: 16px;

    @screen lg {
      padding-right: 135px;
      padding-left: 135px;
    }
  }

  &__row {
    @apply flex items-center;
  }

  & .logo {
    width: 145px;
    height: 56px;

    @screen sm {
      width: 186px;
      height: 72px;
    }
  }

  &__video {
    @apply block w-343px h-191px my-0 mx-auto rounded-21px;
    
    @screen sm {
      @apply w-770px h-430px rounded-48px;
    }
  }

  &__offtop {
    @apply w-full mt-15;

    &-box {
      @apply max-w-760px py-7 px-3 mx-auto bg-outer-space rounded-24px;
    }

    &-title {
      @apply mb-5;
    }

    &-button {
      @apply block mx-auto;
    }
  }

  &__text {
    @apply text-20px text-white opacity-70 text-center max-w-570px mx-auto mb-15;
  }
}
