.portrait {
  @apply relative bg-outer-space;
  width: 258px;
  height: 329px;
  border-radius: 48px;

  @screen sm {
    width: 401px;
    height: 511px;
  }

  &--big {
    width: 290px;
    height: 372px;

    @screen sm {
      width: 470px;
      height: 600px;
    }
  }

  &--no-bg {
    @apply bg-transparent;
    height: 465px;
  }

  &--author & {
    &__item {
      &--photo {
        width: 306px;
        height: 372px;
        transform: translateX(-38%);

        @screen sm {
          width: 520px;
          height: 630px;
        }
      }
    }
  }

  &__item {
    @apply absolute;

    &--ellipse {
      top: -21px;
      left: -30px;
      width: 76px;
      height: 76px;

      @screen sm {
        top: -48px;
        left: -48px;
        width: 118px;
        height: 118px;
      }
    }

    &--photo {
      z-index: 1;
      left: 50%;
      bottom: 0;
      width: 233px;
      height: 367px;
      transform: translateX(-50%);
      object-fit: contain;

      @screen sm {
        width: auto;
        height: auto;
      }
    }

    &--grid {
      @apply hidden;

      @screen sm {
        @apply block;
        width: 204px;
        bottom: -58px;
        right: -50px;
      }
    }

    &--dots {
      top: 101px;
      left: 3px;
      transform: rotate(310deg);
    }

    &--painting {
      z-index: 1;
      bottom: 2px;
      left: -2px;
    }
  }

  &__legend {
    @apply absolute;
    z-index: 1;
    right: -88px;
    bottom: 31px;

    &-title {
      @apply font-semibold text-32px leading-9 mb-1;
    }

    &-text {
      @apply font-normal text-24px leading-8;
      color: rgba(white, 0.7);
    }
  }
}
