.program {
  @apply flex flex-col justify-start items-start mx-auto;
  max-width: 500px;

  &__item {
    @apply text-24px leading-26px relative pl-15;

    @screen sm {
      @apply text-32px leading-10 pl-0;
    }

    &::before {
      @apply absolute top-0 bg-outer-space rounded-full;
      content: '';
      left: -0px;
      width: 30px;
      height: 30px;

      @screen sm {
        left: -60px;
      }
    }

    &::after {
      @apply absolute h-full bg-outer-space;
      content: '';
      top: 28px;
      left: 12px;
      width: 6px;

      @screen sm {
        left: -48px;
      }
    }

    &:not(:last-child) {
      @apply pb-8;

      @screen sm {
        @apply pb-15;
      }
    }

    &:last-child {
      &::after {
        @apply hidden;
      }
    }
  }
}
