.recive {
  @apply flex flex-col w-full;

  &__card {
    @apply flex flex-col items-center w-full;

    @screen sm {
      @apply flex-row;
    }

    &:nth-child(even) {
      @apply flex-col;

      @screen sm {
        @apply flex-row;
      }
    }

    &:not(:last-child) {
      @apply mb-8;

      @screen sm {
        @apply mb-15;
      }
    }
  }

  &__item {
    &--image {
      width: 100%;

      @screen sm {
        width: 570px;
      }
    }

    &:first-child {
      @apply mb-4;
  
      @screen sm {
        @apply mr-8 mb-0;
      }
    }
  }

  &__title {
    @apply mb-1;

    @screen sm {
      @apply mb-2;
    }
  }

  &__description {
    @apply text-16px leading-22px;
    color: rgba(white, 0.7);

    @screen sm {
      @apply text-24px leading-8;
    }
  }
}
