.registration {
  @apply bg-white;

  &__container {
    @apply pt-15 pb-11;
    background-position: right;
    background-repeat: no-repeat;

    @screen sm {
      @apply pt-30 pb-38;
    }
  }

  &__title {
    @apply mb-4;
  }

  &__subtitle {
    @apply font-normal text-shark mb-4 opacity-70;
  }

  &__col {
    &--form {
      max-width: 570px;
    }
  }
}
