.review-card {
  @apply p-6 bg-outer-space;
  border-radius: 24px;

  &__head {
    @apply flex items-center justify-between mb-4;
  }

  &__title {
    @apply font-semibold text-20px leading-6 text-white mb-0.5;
  }

  &__description {
    @apply text-16px leading-22px text-white opacity-70;
  }

  &__avatar {
    --size: 64px;
    width: var(--size);
    height: var(--size);
    border-radius: 16px;
    object-fit: cover;
  }

  &__content {
    @apply text-16px leading-5 text-white;
  }

  &__button {
    @apply block mx-auto mt-15;
  }
}