.tariffs {
  &__col {
    @apply w-370px p-4 rounded-16px;
    background-color: #374246;

    &:not(:last-child) {
      @apply mr-30px;
    }
  }

  &__title {
    @apply font-semibold text-32px mb-6;
  }

  &__list {
    &-item {
      @apply relative text-20px leading-26px flex items-center;

      &:before {
        @apply block w-4px h-4px bg-white rounded-full mr-2; 
        content: ''
      }

      &:not(:last-child) {
        @apply mb-2;
      }
    }
  }

  &__price {
    @apply flex items-center mt-6;

    &-current {
      @apply text-32px font-semibold mr-4;
      color: #FDD05A;
    }

    &-old {
      @apply relative text-24px text-white opacity-50;

      &:before {
        @apply absolute w-full h-2px right-0 bg-white;
        content: '';
        top: 50%;
        transform: rotate(-10deg) translateY(-50%);
      }
    }
  }

  &__button {
    @apply w-full mt-6;
  }
}