.title {
  @apply font-jost font-bold;

  &--big {
    @apply text-24px leading-8 mb-6;

    @screen sm {
      @apply text-56px leading-14 mb-15;
    }
  }

  &--medium {
    @apply text-20px leading-22px;

    @screen sm {
      @apply text-32px leading-9;
    }
  }

  &--small {
    @apply text-16px leading-22px;

    @screen sm {
      @apply text-24px leading-8;
    }
  }

  &--tiny {
    @screen sm {
      @apply text-20px leading-22px;
    }
  }

  &--center {
    @apply text-center;
  }

  &--black {
    @apply text-shark;
  }
}
