.course {
  &__banner {
    @apply mt-24;

    &-row {
      @apply relative;
    }

    &-col {
      &--text {
        @apply mr-3 lg:ml-100px;
        max-width: 570px;
      }

      &--photo {
        @apply mr-34 ml-auto;
      }
    }

    &-bg {
      @apply 
        absolute
        -z-1
        inset-0

        <lg:hidden
      
        bg-outer-space

        w-full
        h-220px

        rounded-48px
      ;

      &__icon {
        @apply
          absolute
          top-25px
          -right-60px
         ;
      }
    }

    &-sup {
      @apply text-20px leading-26px m-0 mb-11px;
      color: rgba(white, 0.7);
    }
    
    &-title {
      @apply font-semibold leading-56px mt-0 mb-12px;
    }

    &-sub {
      @apply text-24px leading-8 mt-3 mb-7.5;
      color: rgba(white, 0.7);
    }

    

    &-actions {
      @apply flex items-center;

      &__text {
        @apply font-semibold text-20px ml-8;
      }
    }

    &-info {
      @apply flex items-start justify-between w-full mt-30;

      &__title {
        @apply font-semibold leading-9;
      }

      &__text {
        @apply mt-1.73 font-normal;
        color: rgba(white, 0.7);
      }

      &__eye-catcher {
        @apply 
            mt-1.75
            text-dandelion
            text-20px
            leading-7
            font-semibold;
      }
    }
  }

  &__motivation {
    @apply mt-40;

    &-subtitle {
      @apply mt-18 mb-30px;
    }
  }

  &__recognized {
    @apply mt-40;

    &-subtitle {
      @apply mt-18 mb-30px;
    }
  }

  &__video {
    @apply mt-40;
  }

  &__program {
    @apply mt-40;

    &-actions {
      @apply flex items-center justify-center mt-8;
    }
  }

  &__after-course {
    @apply mt-40;
  }

  &__recive {
    @apply mt-40;

    &-title {
      @apply mb-16 mt-15 text-center;
    }
  }

  &__author {
    @apply mt-40;
  }

  &__tariffs {
    @apply mt-40;
  }

  &__faq {
    @apply mt-40;
  }
}
