.webinar {
  &__banner {
    @apply mt-8;

    @screen sm {
      @apply mt-24;
    }

    &-row {
      @apply flex-col;

      @screen sm {
        @apply flex-row;
      }
    }

    &-col {
      &--text {
        @apply text-center mb-15;

        @screen sm {
          @apply text-left mr-3 mb-0;
          max-width: 570px;
        }
      }

      &--photo {
        @screen sm {
          @apply mr-0 ml-auto;
        }
      }
    }

    &-sup {
      @apply font-normal text-14px leading-5 mb-0.5;
      color: rgba(white, 0.7);

      @screen sm {
        @apply text-20px leading-6;
      }
    }

    &-sub {
      @apply text-16px leading-22px mt-0.5 mb-7.5;
      color: rgba(white, 0.7);

      @screen sm {
        @apply text-24px leading-8 mt-3;
      }
    }

    &-actions {
      @apply flex flex-col items-center;

      @screen sm {
        @apply flex-row;
      }

      &__text {
        @apply font-semibold text-16px mt-4;

        @screen sm {
          @apply text-20px mt-0 ml-8;
        }
      }
    }

    &-info {
      @apply flex flex-wrap items-center justify-between w-full -my-4 mt-15;

      @screen sm {
        @apply my-0 mt-30;
      }

      &__item {
        @apply my-2;
        flex-basis: 50%;
        
        @screen sm {
          @apply m-0;
          flex-basis: auto;
        }
      }

      &__text {
        @apply mt-1.5;
        color: rgba(white, 0.7);
      }
    }
  }

  &__motivation {
    @apply mt-15;

    @screen sm {
      @apply mt-40;
    }

    &-title {
      @apply mb-6;

      @screen sm {
        @apply mb-15;
      }
    }
  }

  &__video {
    @apply mt-15;

    @screen sm {
      @apply mt-40;
    }
  }

  &__program {
    @apply mt-15;

    @screen sm {
      @apply mt-40;
    }

    &-title {
      @apply mb-6;

      @screen sm {
        @apply mb-30px;
      }
    }

    &-actions {
      @apply flex flex-col items-center justify-center mt-8;

      @screen sm {
        @apply flex-row;
      }

      &__text {
        @apply mt-4px;

        @screen sm {
          @apply mt-0;
        }
      }
    }
  }

  &__recive {
    @apply mt-15;

    @screen sm {
      @apply mt-40;
    }

    &-title {
      @apply mb-16 mt-15 text-center;
    }
  }

  &__author {
    @apply mt-15;

    @screen sm {
      @apply mt-40;
    }
  }

  &__reviews {
    @apply mt-15;

    @screen sm {
      @apply mt-40;
    }
  }

  &__registration {
    @apply mt-15;

    @screen sm {
      @apply mt-40;
    }

    &-container {
      // background-image: url('/images/webinar/webinar-registration-image-mob.png');
      // background-position: bottom;

      @screen sm {
        background-image: url('/images/webinar/webinar-registration-image.png');
      }
    }
  }
}
