html {
  @apply font-jost text-14px text-white box-border bg-shark;

  * {
    box-sizing: border-box;

    &::before,
    &::after {
      box-sizing: border-box;
    }
  }
}

button {
  @apply cursor-pointer;
}

figure {
  @apply leading-0 m-0 p-0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  @apply p-0 m-0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}